<title>Explore</title>
<body>
<div class="grid">
  <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div class="hover" (click)="navigateToHomepage()">
        <i class="fas fa-home"></i> Home
      </div>
      <div class="nav_bold" (click)="navigateToExplore()">
        <i class="fas fa-search"></i> Explore
      </div>
      <div class="hover" (click)="navigateToFavorites()">
        <i class="fas fa-bookmark"></i> Favorites
      </div>
      <div class="link-style" (click)="openCreatePostModal()">
        <i class="fas fa-upload"></i> Create Post
      </div>
      <div class="hover" (click)="navigateToAbout()">
        <i class="fas fa-info-circle"></i> About Us
      </div>
    </div>
  </div>

  <div class="header">
    <div class="search-container">
      <label for="search-input" class="search-label">EXPLORE</label>
      <div class="search-bar">
        <input
          id="search-input"
          type="text"
          placeholder="Explore"
          #searchInput
          (keydown.enter)="fetchSearchResults(searchInput.value)"
        />
        <button class="search-button" (click)="fetchSearchResults(searchInput.value)">
          <img src="assets/images/explore-bold.png" />
        </button>
      </div>


      <div *ngIf="!(isLoggedIn$ | async)" class="login-signup-container">
        <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()">LOG IN</button>
        <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">SIGN UP</button>
      </div>
      <div class="signedin-icons" *ngIf="isLoggedIn$ | async">
        <i class="fas fa-envelope" (click)="navigateToDirectMessages()"></i>
        <i class="fas fa-user" (click)="navigateToMyProfile()"></i>
        <i class="fas fa-sign-out" (click)="openLogoutModal()"></i>
      </div>
    </div>
  </div>

  <div class="main">

    <-- multiselect-dropdown from ChatGPT -->
    <div class="filter-container">
      <div class="filter-header">
        <ng-multiselect-dropdown
          [placeholder]="'Select Categories'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedCategories"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>


    <div class="results-grid-container">
      <div *ngFor="let image of images" class="grid-item">
        <img [src]="image.picture" alt="Picture" (click)="navigateToOpenPost()">
      </div>
    </div>
  </div>
</div>


  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">TATT'UP</div>
      <div class="footer-copy">© 2023 Copyright</div>
      <nav class="footer-links">
        <a href="/legal">Legal</a>
        <a href="/about">Contact</a>
        <a href="/monetization">Monetization</a>
        <a href="/disclaimer">Disclaimer</a>
      </nav>
    </div>
  </footer>
</body>
