

<body>
<div class="grid">


  <div class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div class="nav_bold">Home</div>
      <div>Explore</div>
      <div>Favorites</div>
      <div>Create Post</div>
      <div>About Us</div>
    </div>
  </div>

  <div class="header">
    <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()" >LOG IN</button>
    <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">SIGN UP</button>
  </div>

  <div class="main">
    <div class="homepage-main-title">Welcome to Tatt' Up!</div>
    <div class="grid-monetize-etwot">
    <div class="homepage-monetize-title">Monetize your art!</div>
    <div class="homepage-monetize-text">Learn how to make money off <br> your art. We encourage fair<br> compensation for your<br> creativity and time.</div>
    <div class="homepage-etwot-title">Explore the world of tattoos</div>
    <div class="homepage-etwot-text">Tatt' Up provides you with an<br>unlimited amount of diverse<br>tattoo designs and unique<br>tattoo artists.</div>

    <button type="button" class="learnmore-btn" (click)="navigateToAbout()">learn more</button>
    <button type="button" class="explore-btn" (click)="navigateToExplore()">explore</button>
    </div>

  </div>


</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/contact">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
