<title>Home</title>
<body>
<div class="grid">
  <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">

      <div class="nav_bold" (click)="navigateToHomepage()" >
        <i class="fas fa-home"  (click)="navigateToHomepage()" ></i>
        Home
      </div>
      <div class="hover" (click)="navigateToExplore()">
        <i class="fas fa-search" (click)="navigateToExplore()"></i>

        Explore
      </div>

      <div class="hover" (click)="navigateToFavorites()">
        <i class="fas fa-bookmark" (click)="navigateToFavorites()"></i>
        Favorites
      </div>
      <div class="link-style" (click)="openCreatePostModal()">
        <i class="fas fa-upload" (click)="openCreatePostModal()"></i>
Create Post
      </div>


      <div class="hover" (click)="navigateToAbout()">
        <div href="/about" (click)="navigateToAbout()">
        <i class="fas fa-info-circle"></i>
          About Us
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div *ngIf="!(isLoggedIn$ | async)">
    <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()">
      LOG IN
    </button>
    <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">
      SIGN UP
    </button>
  </div>
    <div class="signedin-icons" *ngIf="isLoggedIn$ | async ">
      <i class="fas fa-envelope" (click)="navigateToDirectMessages()"></i>
      <i class="fas fa-user" (click)="navigateToMyProfile()"></i>
      <i class="fas fa-sign-out" (click)="openLogoutModal()"></i>
    </div>
  </div>
  <div class="main">
    <div class="homepage-main-title">Welcome to Tatt' Up!</div>
    <div class="grid-monetize-etwot">
      <div class="homepage-monetize-title">Monetize your art!</div>
      <div class="homepage-monetize-text">
        Learn how to make money off your art. <br />
        We encourage fair compensation for your<br />
        creativity and time.
      </div>
      <div class="homepage-etwot-title">Explore the world of tattoos</div>
      <div class="homepage-etwot-text">
        Tatt' Up provides you with an unlimited<br /> amount of diverse tattoo
        designs and <br />unique tattoo artists.
      </div>
      <button type="button" class="learnmore-btn" (click)="navigateToAbout()">
        learn more
      </button>
      <button type="button" class="explore-btn" (click)="navigateToExplore()">
        explore
      </button>
    </div>

    <div class="tattoos-of-week-container">
      <div class="tattoo-week-img">
        <div class="tattoos-title">Tattoos of the week</div>
        <div class="image-1">
          <img src="assets/images/search4.png" alt="Tattoo 1" (click)="navigateToOpenPost()" />
          <div class="artist-name">@tattooking</div>
        </div>
        <div class="image-2">
          <img src="assets/images/search3.png" alt="Tattoo 2" (click)="navigateToOpenPost()"/>
          <div class="artist-name">@honeybunny</div>
        </div>
        <div class="image-3">
          <img src="assets/images/tattoo.png" alt="Tattoo 3" (click)="navigateToOpenPost()"/>
          <div class="artist-name">@hearttattoo</div>
        </div>
      </div>
    </div>

    <div class="artist-title">Featured artists</div>
    <div class="featured-artists-container">
      <div class="featured-artists">

        <div class="image1">
          <img src="assets/images/profile.jpg" alt="Artist 1" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@mathutattoo</a>
          </div>
        </div>
        <div class="image2">
          <img src="assets/images/profile.jpg" alt="Artist 2" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@valetattoo</a>
          </div>
        </div>
        <div class="image3">
          <img src="assets/images/profile.jpg" alt="Artist 3" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@alinetattoo</a>
          </div>
        </div>
        <div class="image4">
          <img src="assets/images/profile.jpg" alt="Artist 4" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@saratattoo</a>
          </div>
        </div>
        <div class="image5">
          <img src="assets/images/profile.jpg" alt="Artist 5" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@peterescobar</a>
          </div>
        </div>
        <div class="image6">
          <img src="assets/images/profile.jpg" alt="Artist 6" (click)="navigateToUserProfiles()"/>
          <div class="artist-name">
            <a href="#" class="artist-link">@hotpot</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/about">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
