

<body>
<div class="grid">


  <div class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div class="nav_bold">Home</div>
      <div>Explore</div>
      <div>Favorites</div>
      <div>Create Post</div>
      <div>About Us</div>
    </div>
  </div>

  <div class="header">
    <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()" >LOG IN</button>
    <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">SIGN UP</button>
  </div>

  <div class="main">
    <p class="heading">About Us</p>
    <p class="text-content">Welcome to Tatt'up! Born from a shared passion for the art of ink,
      we're not just another startup - we're a global community for tattoo enthusiasts.</p>
    <p class="subheading">How it works:</p>
    <p class="subheading">For tattooers and designers:</p>
    <p class="text-content">Tatt'up offers a platform to share your art with the world.
      Display your designs, cultivate a follower base and expand your horizons.</p>
    <p class="subheading">For Tattoo Enthusiasts:</p>

  </div>


</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/contact">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
