<title>About Us</title>
<body>
  <div class="grid">
    <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
    <div class="nav">
      <div class="sidebar-content">
        <div class="hover" (click)="navigateToHomepage()" >
          <i class="fas fa-home"  (click)="navigateToHomepage()" ></i>
          Home
        </div>
        <div class="hover" (click)="navigateToExplore()">
          <i class="fas fa-search" (click)="navigateToExplore()"></i>

          Explore
        </div>

        <div class="hover" (click)="navigateToFavorites()">
          <i class="fas fa-bookmark" (click)="navigateToFavorites()"></i>
          Favorites
        </div>
        <div class="link-style" (click)="openCreatePostModal()">
          <i class="fas fa-upload" (click)="openCreatePostModal()"></i>
          Create Post
        </div>


        <div class="nav_bold"  (click)="navigateToAbout()">
          <div href="/about" (click)="navigateToAbout()">
            <i class="fas fa-info-circle"></i>
            About Us
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div *ngIf="!(isLoggedIn$ | async)">
      <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()">
        LOG IN
      </button>
      <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">
        SIGN UP
      </button>
    </div>
      <div class="signedin-icons" *ngIf="isLoggedIn$ | async ">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-sign-out"></i>
      </div>
    </div>
    <div class="main">
      <p class="heading">About Us</p>
      <p class="text-content">
        Welcome to Tatt'up!<br />
        Born from a shared passion for the art of ink, we're not just another
        startup - we're a global community for tattoo enthusiasts.
      </p>
      <p class="firstsubheading">How it works:</p>
      <p class="subheading">For tattooers and designers:</p>
      <p class="text-content">
        Tatt'up offers a platform to share your art with the world. Display your
        designs, cultivate a follower base and expand your horizons.
      </p>
      <p class="subheading">For Tattoo Enthusiasts:</p>
      <p class="text-content">
        Dive deep into an ocean of designs and styles. Whether you're looking
        for a delicate floral piece or a fierce dragon, our platform offers
        endless inspiration. And when you've found "the one"? Easily connect
        with the artist behind the masterpiece and ink your dreams into reality.
      </p>
      <p class="subheading">Monetize your Art</p>
      <p class="text-content">
        On our cutting-edge platform, passionate tattoo enthusiasts have the
        seamless ability to schedule appointments with you, simplifying the
        booking process while ensuring a secure and direct payment experience,
        all within the confines of our platform. We facilitate a smooth
        transaction by handling the payment process, allowing clients to
        compensate you effortlessly. In return for the convenience and
        efficiency our platform provides, we apply a nominal commission fee.
        This approach not only streamlines the entire appointment management
        cycle but also guarantees a hassle-free financial transaction for both
        you and your clients, marking a new era in the tattoo industry where
        convenience meets creativity.
      </p>
      <div class="grid_contactform"></div>

      <div>
        <div class="contact-heading">Still have some questions?</div>
        <div class="contact-subheading">Do not hesitate to contact us.</div>

        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">TATT'UP</div>
      <div class="footer-copy">© 2023 Copyright</div>
      <nav class="footer-links">
        <a href="/legal">Legal</a>
        <a href="/contact">Contact</a>
        <a href="/monetization">Monetization</a>
        <a href="/disclaimer">Disclaimer</a>
      </nav>
    </div>
  </footer>
</body>
