<body>
<div class="grid">
  <div class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div>Home</div>
      <div>Explore</div>
      <div>Favorites</div>
      <div>Create Post</div>
      <div>About Us</div>
    </div>
  </div>
  <div class="header">
    <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()" >LOG IN</button>
    <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">SIGN UP</button>
  </div>
  <div class="main">
    <div class="grid-container">

      <div class="circular-image">
        <img src="assets/X.jpeg" alt="Profile Picture">
      </div>

      <div class="grid-info">

        <div class="username">user134340</div>
        <button class="editprofile"> Edit Profile</button>
        <div class="posts">6 Posts</div>
        <div class="followers">6'275 Followers</div>
        <div class="designer">Designer</div>
        <div class="star">Tattoo Artist</div>
        <div class="address">Fear Street 88</div>
        <div class="email">lmao.lol&#64;outlook.com</div>
        <div class="bio">I'm a fine line artist</div>
      </div>
    </div>


      <div class="posts-grid">
        <div class="posts-pic">
          <img src="assets/X.jpeg" alt="Profile Picture">
        </div>

      </div>



  </div>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/contact">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
