
.calendar-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  display: block;
  margin: 8px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
.save-event{
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;

}
