<h1>Change your Password</h1>

<form [formGroup]="changepasswordForm">
  <div class="grid-usersignup">
    <h2 class="password">New Password</h2>
    <input class="password_2"   type="password" formControlName="password" placeholder="Enter your new password">
    <h2 class="password_3">Confirm Password</h2>
    <input class="password_4"   type="password" formControlName="password" placeholder="Confirm your new password">
    <button class="confirm" type="submit" (click)="navigateToLogin()">CONFIRM</button>

  </div>
</form>


