<body>
<div class="grid">
  <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div class="hover" (click)="navigateToHomepage()" >
        <i class="fas fa-home"  (click)="navigateToHomepage()" ></i>
        Home
      </div>
      <div class="hover" (click)="navigateToExplore()">
        <i class="fas fa-search" (click)="navigateToExplore()"></i>

        Explore
      </div>

      <div class="hover" (click)="navigateToFavorites()">
        <i class="fas fa-bookmark" (click)="navigateToFavorites()"></i>
        Favorites
      </div>
      <div class="link-style" (click)="openCreatePostModal()">
        <i class="fas fa-upload" (click)="openCreatePostModal()"></i>
        Create Post
      </div>


      <div class="hover"  (click)="navigateToAbout()">
        <div href="/about" (click)="navigateToAbout()">
          <i class="fas fa-info-circle"></i>
          About Us
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="signedin-icons">
      <i class="fas fa-envelope" (click)="navigateToDirectMessages()"></i>
      <i class="fas fa-user" (click)="navigateToMyProfile()"></i>
      <i class="fas fa-sign-out" (click)="openLogoutModal()"></i>
    </div>
  </div>
  <div class="main">
    <div class="grid-container">

      <div class="circular-image">
        <img src="assets/X.jpeg" alt="Profile Picture">
      </div>

      <div class="grid-info">

        <div class="username">user134340</div>
        <button class="editprofile"> Edit Profile</button>
        <div class="posts">6 Posts</div>
        <div class="followers">6'275 Followers</div>
        <div class="designer">Designer</div>
        <div class="star">Tattoo Artist</div>
        <div class="address">Fear Street 88</div>
        <div class="email">lmao.lol&#64;outlook.com</div>
        <div class="bio">I'm a fine line artist</div>
      </div>
    </div>

    <div class="posts-grid">
      <div class="posts-pic1">
        <img src="assets/X.jpeg" alt="Profile Picture">
      </div>

      <div class="posts-pic2">
        <img src="assets/X.jpeg" alt="Profile Picture">
      </div>

      <div class="posts-pic3">
        <img src="assets/X.jpeg" alt="Profile Picture">
      </div>
    </div>




  </div>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/contact">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
