.search-container{
  border-radius: 100px;
  display: flex;
  gap: 3%;
  display: flex;
  justify-content: center;
}

.search-label{
  color: #000000;
  font-weight: bold;
}

#search-input{
  border-radius: 50px;
  border: 01px solid #ccc;
  padding: 2% 15% 2% 5%;
  background-color: #F0F0F0;
  outline: none;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #F0F0F0;
  border: 1px solid #ccc;

  #search-input {
    border: none;
    padding: 2% 5%;
    background-color: transparent;
    margin-right: -1px;
  }

  .search-button {
    padding: 2% 5%;
    border: none;
    border-radius: 50px;
    background-color: #F0F0F0;
    cursor: pointer;
  }
}


