.logout-modal .modal-dialog {
  max-width: 500px;
  margin: 30px auto;
}

.logout-modal .modal-content {
  background-color: #fff;
  border-color: #666;
  color: #333;
}

.logout-modal .modal-header,
.logout-modal .modal-footer {
  padding: 15px;
  background-color: #f0f0f0;
}

.logout-modal .modal-body {
  padding: 20px;
}

