<!-- signup.component.html -->
<h1>Create an Account</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
<div class="grid-usersignup">
<h2 class="username">USERNAME</h2>
  <input class="username_2"   type="text" formControlName="username" placeholder="Enter your username">

  <h2 class="email">EMAIL</h2>
    <input class="email_2"  type="email" formControlName="email" placeholder="Enter your email">

  <h2 class="pwd">PASSWORD</h2>
  <input class="pwd_2"  type="password" formControlName="password" placeholder="Enter a password">

  <h2 class="confpwd">CONFIRM PASSWORD</h2>
  <input class="confpwd_2"  type="password" formControlName="password" placeholder="Confirm password">

  <h2 class="usertype">I AM A:</h2>
  <select class="user_input" formControlName="userType">
    <option value="" disabled selected>Select User Type</option>
    <option value="tattooer">Tattooer</option>
    <option value="designer">Designer</option>
    <option value="user">User</option>
  </select>
<p class="question">Already have an account? <a class="login" href="/user-login">Login</a></p>

<button class="signup-button" type="submit">Sign Up</button>

</div>
</form>
