

<body>
<div class="grid">


  <div class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div> <img src="assets/images/home-bold.png" alt="Home Icon"> Home</div>
      <div> <img src="assets/images/explore-bold.png" alt="Explore Icon"> Explore</div>
      <div> <img src="assets/images/list.png" alt="Favourites Icon"> Favorites</div>
      <div> <img src="assets/images/upload.png" alt="Upload Icon"> Create Post</div>
      <div> <img src="assets/images/info.png" alt="Info Icon"> About Us</div>
    </div>
  </div>

  <div class="header">Here comes the header</div>
  <div class="main">Here comes the main content</div>


</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/contact">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
