.close-button{
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 5vh;
  cursor: pointer;
}

.popup-container{
  border-radius: 50%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1vw;
  text-align: center;

}

.upload-box{
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 20px 0;
  text-align: center;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-and-caption {
  display: flex; /* Added this line to display the image and caption side by side */
  justify-content: center; /* Added this line to center the image and caption */
  width: 100%; /* Added this line to make the image and caption take up the full width */
  margin-bottom: 20px; /* Added this line to add some spacing between the image/caption and the button */
}

.caption-box {
  width: 50%;
  padding: 0 20px;
}

.content-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%; /* Added this line to make the image container take up half the width */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.publish-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-top: 100px;
  margin-bottom: 5px;
}
