<h1>Forgot your Password?</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="grid-usersignup">
    <h2 class="email">EMAIL</h2>
    <input class="email_2"   type="text" formControlName="email" placeholder="Enter your email">
    <p class="pwd_forgot"><a class="pwd_forgot_2" href="/user-forgot-password">Back to sign in</a></p>
    <p class="question">Create an account? <a class="signup" href="/user-signup">SEND</a></p>

    <button class="login-button" type="submit" >Login</button>

  </div>
</form>

