<h1>Forgot your Password?</h1>
<p class="text">Don't worry! We will send you an email to reset your Password. </p>
<form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
  <div class="grid-forgot-password">
    <h2 class="email">EMAIL</h2>
    <input class="email_2"   type="email" formControlName="email" placeholder="Enter your email">
    <p class="backtologin"><a class="backtologin_2" href="/user-login">Back to LOGIN</a></p>
    <button class="enter" type="submit">ENTER</button>

  </div>
</form>

