<body>
<div class="grid">
  <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
  <div class="nav">
    <div class="sidebar-content">
      <div class="hover" (click)="navigateToHomepage()" >
        <i class="fas fa-home"  (click)="navigateToHomepage()" ></i>
        Home
      </div>
      <div class="hover" (click)="navigateToExplore()">
        <i class="fas fa-search" (click)="navigateToExplore()"></i>

        Explore
      </div>

      <div class="hover" (click)="navigateToFavorites()">
        <i class="fas fa-bookmark" (click)="navigateToFavorites()"></i>
        Favorites
      </div>
      <div class="link-style" (click)="openCreatePostModal()">
        <i class="fas fa-upload" (click)="openCreatePostModal()"></i>
        Create Post
      </div>


      <div class="hover" (click)="navigateToAbout()">
        <div href="/about" (click)="navigateToAbout()">
          <i class="fas fa-info-circle"></i>
          About Us
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <div *ngIf="!(isLoggedIn$ | async)">
      <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()">
        LOG IN
      </button>
      <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">
        SIGN UP
      </button>
    </div>
    <div class="signedin-icons" *ngIf="isLoggedIn$ | async ">
      <i class="fas fa-envelope" (click)="navigateToDirectMessages()"></i>
      <i class="fas fa-user" (click)="navigateToMyProfile()"></i>
      <i class="fas fa-sign-out" (click)="openLogoutModal()"></i>
    </div>
  </div>

  <div class="main">
    <div class="grid-post">
      <img class="post-userpic" src="assets/images/placeholder.jpg" >
      <div class="post-user" >user134340</div>
      <img class="post-image" src="assets/images/placeholder.jpg" >
      <div class="post-comments" >comments</div>
      <input class="post-comment" type="text" placeholder="Leave a comment...">
      <i class="fas fa-envelope" id="post-icons-envelope" (click)="navigateToDirectMessages()"></i>
      <i class="fas fa-bookmark" id="post-icons-bookmark" (click)="navigateToDirectMessages()"></i>
      <div class="post-caption" >caption</div>
      <div class="post-date" >date</div>



    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">TATT'UP</div>
    <div class="footer-copy">© 2023 Copyright</div>
    <nav class="footer-links">
      <a href="/legal">Legal</a>
      <a href="/about">Contact</a>
      <a href="/monetization">Monetization</a>
      <a href="/disclaimer">Disclaimer</a>
    </nav>
  </div>
</footer>
</body>
