/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Cageroll';
  src: url('assets/fonts/Cageroll-Standard.otf') format('otf');
}

body{
  font-family: Arial, serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
