<body>
<div class="grid">
    <div (click)="navigateToHomepage()" class="title">Tatt' up</div>
    <div class="nav">
        <div class="sidebar-content">
            <div class="hover" (click)="navigateToHomepage()" >
                <i class="fas fa-home"  (click)="navigateToHomepage()" ></i>
                Home
            </div>
            <div class="hover" (click)="navigateToExplore()">
                <i class="fas fa-search" (click)="navigateToExplore()"></i>

                Explore
            </div>

            <div class="hover" (click)="navigateToFavorites()">
                <i class="fas fa-bookmark" (click)="navigateToFavorites()"></i>
                Favorites
            </div>
            <div class="link-style" (click)="openCreatePostModal()">
                <i class="fas fa-upload" (click)="openCreatePostModal()"></i>
                Create Post
            </div>


            <div class="hover" (click)="navigateToAbout()">
                <div  (click)="navigateToAbout()">
                    <i class="fas fa-info-circle"></i>
                    About Us
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div *ngIf="!(isLoggedIn$ | async)">
            <button class="lgsubutton" id="log_in_btn" (click)="navigateToLogin()">
                LOG IN
            </button>
            <button class="lgsubutton" id="sign_up_btn" (click)="navigateToSignUp()">
                SIGN UP
            </button>
        </div>
        <div class="signedin-icons" *ngIf="isLoggedIn$ | async ">
            <i class="fas fa-envelope" (click)="navigateToDirectMessages()"></i>
            <i class="fas fa-user" (click)="navigateToMyProfile()"></i>
            <i class="fas fa-sign-out" (click)="openLogoutModal()"></i>
        </div>
    </div>

    <div class="main">
        <div class="messages">

          <button (click)="startNewConversation()" class="new-message-button">+ New Message</button>
          <div *ngIf="showUserDropdown" class="user-dropdown">
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (input)="onSearchTermChange()"
              placeholder="Search users..."
              class="user-search-input"
            />
            <div *ngIf="filteredUsers$ | async as users">
              <ul class="user-list">
                <li *ngFor="let user of users" (click)="selectUser(user)">
                  {{ user.username }}
                </li>
              </ul>
            </div>
          </div>
          <div class="conversation-list">
            <ul *ngIf="conversations$ | async as conversations">
              <li *ngFor="let convo of conversations">
                <div (click)="selectUser(convo.receiver)">
                  <p>{{ convo.receiver.username }}: {{ convo.message }}</p>
                  <small>Last message at: {{ convo.sent_at | date:'short' }}</small>
                </div>
              </li>
            </ul>
          </div>
          <!--End of conversation list -->

        </div> <!-- End of div messages -->




        <div class="messages-header" *ngIf="selectedUser">
          <h3>{{selectedUser.username}}</h3></div> <!-- End of message header -->


         <div class="messages-content">
      <div class="message-list" *ngIf="messages$ | async as messages">
        <div *ngFor="let message of messages" class="message-entry">
          <p><strong>{{ message.sender?.username }}</strong>: {{ message.message }}</p>
          <small>{{ message.sent_at | date:'medium' }}</small>
        </div>
        <ng-template #noMessages>
          <p>No messages yet.</p>
        </ng-template>
      </div>

          <div class="message-input" *ngIf="selectedUser">
            <textarea class="text-area" [(ngModel)]="newMessageContent" placeholder="Type your message here..."></textarea>
            <button class="send-button" (click)="sendMessage()">Send</button>
          </div>
        </div> <!-- End of idv messages content -->


        <div class="booking-list">
          <app-swipeable-calendar></app-swipeable-calendar>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">TATT'UP</div>
        <div class="footer-copy">© 2023 Copyright</div>
        <nav class="footer-links">
            <a href="/legal">Legal</a>
            <a href="/about" >Contact</a>
            <a href="/monetization">Monetization</a>
            <a href="/disclaimer">Disclaimer</a>
        </nav>
    </div>
</footer>
</body>
